body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Estilos para el menú principal (header) */
#menu-principal {
    background-color: #A3A656;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

#enlaces-navegacion {
    display: flex;
    gap: 30px;
}

#enlaces-navegacion a {
    font-weight: regular;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

#enlaces-navegacion a:hover {
    color: #FFFF00;
}

#opciones-usuario {
    display: flex;
    align-items: center;
    gap: 30px;
}

#opciones-usuario a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    gap: 8px;
    transition: color 0.3s ease;
}

#opciones-usuario a:hover {
    color: #FFFF00;
}

.icono-usuario {
    width: 30px;
    height: 30px;
}
.icono-bandera {
    width: 35px;
    height: 30px;
}

.icono-flecha {
    width: 14px;
    height: 10px;
}

#inicio {
    background-image: url('/images/main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 667px;
    background-color: #FFEFDF; /* color de fondo de apoyo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 150px;
}

#inicio h1 {
    font-family: 'Romanesco', cursive;
    font-size: 96px;
    font-weight: regular;
    color: #000000;
    margin: 0;
}

#inicio h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: semi-bold;
    color: #000000;
    margin-top: 10px;
    max-width: 700px;
}

/* Estilos para sección de citas */
#citas {
    background-color: #F2F6F6;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

#citas label {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

#citas input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #000000;
}

#citas input::placeholder {
    color: #9E9A9A;
}

#servicios {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 134px;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#servicios article {
    width: 335px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
}

#servicios h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
    background-color: #A3A656;
    margin: 0;
    padding: 20px;
}

#servicios img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

#servicios p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin: 20px 0;
}

#servicios .precio-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-top: auto;
}

#servicios .precio {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}

#servicios button {
    background-color: #A3A656;
    color: #ffffff;
    border: none;
    border-radius: 35px;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
}

#servicios button:hover {
    background-color: #384001;
}

/* Estilos para suscripciones */
#subscripciones {
    background-color: #F2F6F6;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscripciones h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
}

#subscripciones .planes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    width: 100%;
    max-width: 770px;
}

#subscripciones article {
    width: 255px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 233px;
    height: 233px;
    border: 10px solid #384001;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscripciones img {
    object-fit: cover; 
}


#subscripciones button {
    background-color: #A3A656;
    color: #ffffff;
    border: none;
    border-radius: 35px;
    padding: 20px 75px;
    cursor: pointer;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
}

#subscripciones button:hover {
    background-color: #384001;
}

#subscripciones ul {
    list-style: disc;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    margin: 0;
    color: #000;
}

#subscripciones ul li {
    margin-bottom: 8px; 
}

/* Estilos para Footer */
footer {
    background-color: #384001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Inter', sans-serif;
}

footer div:first-child {
    display: flex;
    align-items: center;
    gap: 80px; 
}

footer a {
    font-weight: regular;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #A3A656;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FFFF00; 
}

footer div:last-child {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

footer div:last-child span {
    font-weight: regular;
    color: #A3A656;
}

footer img {
    width: 40px;
    height: 40px;
}